/* NewGameForm.css */

form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

label {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 6px;
}

input {
  width: 86%;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  width: 86%;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
}

.hero-container label {
  font-weight: 500;
  margin-bottom: 6px;
}

.back-to-home {
  margin-top: 20px;
  text-align: center;
  width: 100%;
} 
